 :root {
    --main-font:'Roboto',sans-serif;
    --secondary-font:'Raleway', sans-serif;
    --accebt-color: #2196F3;
    --accebt-color1: #fff;
    --write-text-color: #fff;
    --color-address:rgba(255, 255, 255, 0.6);
    --color-email-link:#757575;
    --color-tel-link:#757575;
    --color-portfol: #fff ;
}

h1
h2
h3
h4
h5
h6
p {
    margin: 0;
}

ul
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); 
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.link { 
    text-decoration: none;
}

.list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

           /*==========HEDER=========*/

.body {
    font-family:'Roboto',sans-serif;
}

.header {
    border-bottom: 1px solid #ececec;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.main-heder {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.main-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: black;
}  

.logo-footer {
    display: block;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196f3;;
    margin-right: 90px;
}  

.web {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accebt-color);
}

.web1 {
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accebt-color1);
}

.navigation-list-website {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-left: 90px;
    align-items: center;
}


.navigation-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-left: auto;
    align-items: center;
    display: flex;
}
 
.navigation-list-item:not(:last-child) {
    margin-right: 50px;
}

.navigation-list-item {
    position: relative
}

.navigation-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    cursor: pointer;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover,
.navigation-link:focus {
    color: #2196F3;
}

.currently {
    color: #2196f3;
}

.currently::after {
    display: inline-block;
    position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }


.email-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--color-email-link);
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.email-link:hover,
.email-link:focus {
    color: #2196f3;
}

.letter-icon {
    margin-right: 10px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.letter-icon:hover,
.letter-icon:focus {
    fill: currentColor;
}


.phone-icon {
    margin-right: 10px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--color-email-link);
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone-icon:hover,
.phone-icon:focus {
    fill: currentColor;
}

.tel-link:hover,
.tel-link:focus {
    color: #2196f3;
}


.email-link:hover .letter-icon,
.email-link:focus .letter-icon,
.tel-link:hover .phone-icon,
.tel-link:focus .phone-icon {
    fill: currentColor;
}

.list-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
  
    /*============ AND HEDER========*/

    /*============MAIN============*/
            /*==hero==*/

 .hero-top {
    background-color:#2F303A;
    background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/obshaja.jpg);
    text-align: center;
    padding: 200px 0px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-repeat: no-repeat;
}


.top-hero {
    width: 696px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: auto;
    margin-right: auto;
    
 
}
   

.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--write-text-color);
    margin-bottom: 30px;
}

.top-btn {
    min-width: 200px;
    min-height: 50px;
    font-size: 16px;
    line-height: 1.8;
    display: inline-block;
    align-items: center;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    color: #FFFFFF;
    background-color: #2196F3;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.top-btn:hover,
.top-btn:focus {
    background-color: #F5F4FA;
    color: black;
}

            /*== and hero==*/

        /*===specialty===*/

.hero {
    padding-top: 94px;
}

.box{
    display: flex;
    width: 270px;
    height: 120px;
    left: 815px;
    top: 774px;
    background: #F5F4FA;
    border-radius: 4px;
}

.hero-one {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0px;
}

.hero-link {
    flex-basis: calc(100%/4 - 30px);
    max-width: 270px;
    
}

.hero-link:not(:last-child) {
    margin-right: 30px;
}

.skills-block {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F4FA;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
}
.skills-icons {
    fill: currentColor;
    fill: currentColor;
}



.specialty-title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
}

.description-spec {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 0;
}

        /*=== and specialty===*/

        /*===What are we doing===*/



.we-doing {
    padding-top: 47px;
    padding-bottom: 94px;
}        


.main-two {
    min-width: 700px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 0px;
    margin-bottom: 50px;
}

.main-two-list {
    box-sizing: border-box;
    
}

.about-list {
    display: flex;
    justify-content: space-between;
}

.about-list-two {
    flex-basis: calc(100%/3 - 30px);
    position: relative;
}


.about-list-two:not(:last-child) {
    margin-right: 30px;
}

.item-description {
    display: flex;
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
    font-size: 14px;
    font-weight:700;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    background-color: rgba(47, 48, 58, 0.8);
}



.about-list-three {
    flex-basis: calc(100%/4 - 30px);
    width: 270px;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;
}

.about-list-three:not(:last-child) {
    margin-right: 30px;
}

.social-list {
    display: flex;
    align-items: center;
    margin-top: 16px;
    justify-content: space-between;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 44px;
    height: 44px; 
    border-radius: 50%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.social-link:hover > .social-icon,
.social-link:focus > .social-icon {
   fill: #fff;  
}

.social-link:hover,
.social-link:focus {
   background-color:  #2196F3; 
}

.social-icon {
    color:  #afb1b8;
    fill: currentColor;
}




        /*===AND What are we doing===*/

            /*===Our team===*/

.our-team{
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.staff {
    padding: 30px 32px;
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
}


.staff-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 10px;
}

.position-staff {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    font-weight: 400;
    margin-bottom: 16px;
}


/* ====CLIENTS===*/
.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    margin-bottom: 50px;
}
.clients-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -30px;
}
.clients-list-link {
     display: flex;
    align-items: center;
    justify-content: center;
     width: 170px;
     height: 90px;
     border: 1px solid #AFB1B8;
     border-radius: 4px;
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-item {
    margin-left: 30px;
}
.clients-list-link:hover,
.clients-list-link:focus {
    border-color: #2196F3;
}
.clients-list-link:hover .clients-icon,
.clients-list-link:focus .clients-icon {
    fill: #2196F3;
}


.clients-icon {
    color:  #afb1b8;
    fill: currentColor;
}
/* ====END CLIENTS===*/



            /*===AND Our team===*/
        /*========== AND MAIN==========*/


                /*====FOOTER====*/
            /*===address, basement===*/

.address{
    font-style: normal;
    margin-top: 20px;
}

.top-address {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
    
.address-one {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #fff;
    box-sizing: inherit;
    display: list-item;
}

.address-item {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-address);
    box-sizing: inherit;
    display: list-item; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item:hover,
.address-item:focus {
    color: #2196f3;
}

.address-link{
    margin-bottom: 9px;
}


/* ====footer==== */

.footer-wraper {
    display: block;
    margin-right: 70px;
}

.footer-one {
    display: flex;
    align-items: baseline;
}

.footer-social-title {
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.social-footer-list {
    display: flex;
}
.footer-social-icon {
    fill: #ffffff;
}
.footer-social {
    box-sizing: border-box;
    display: block;
    min-width: 206px;
}
.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
}
.social-list-item:not(:last-child) {
    margin-right: 10px;
}
.footer-social-link:hover,
.footer-social-link:focus {
    background-color:  #2196F3;
}
.footer-social-icon {
    fill: #ffffff;
    width: 20px;
    height: 20px;
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
    fill: #ffffff;
}

                /* ====end footer==== */



        /*=== AND address, basement===*/

        /*=======PORTFOLIO=======*/
            
            /*===navigation==*/

.navigation {
    background:var(--color-portfol);
    padding-top: 94px;
    padding-bottom: 94px;
}

            /*====main====*/
.list-btn {
    justify-content: center;
    align-items: center;
    margin-bottom: 34px;
}
     





.nav-btn {
    list-style: none;
    display: block;
    padding-bottom: 16px;
}

.nav-btn:not(:last-child) {
    margin-right: 8px;
}

.modal-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background-color:#F5F4FA ;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #fff;
    padding: 6px 22px;
    background: #f5f4fa;
    justify-content: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus{
    background-color: #2196F3;
    color: #fff;; 
}


.portfolio {
    padding-bottom: 94px;
}

.portfolio-one {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: -30px;
}

.portfolio-item {
    flex-basis: calc(100%/3 - 30px);
    max-width: 370px;
    margin-right: 30px;
    margin-top: 30px;
} 

.project-item-image {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item-image:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
} 

.project-item-image:hover .overlay,
.project-item-image:focus .overlay {
    transform:translateY(0)
}

.team-list-content-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    margin: 0;
    top: 0;
    left: 0;
    transform: translateY(100%);
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #fff;
    background-color: rgba(33, 150, 243, 0.9);
    /*overflow: auto;*/
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);   
    }

.project-item-image:hover, 
.project-item-image:focus {
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 
    0px 1px 1px rgb(0 0 0 / 14%), 
    0px 2px 1px rgb(0 0 0 / 20%);
}

.portfolio-item:nth-child(3n) {
    margin-right: 0;
}

.portfolio-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.web-site {
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    border-top: none;
    padding: 20px 24px;
}

.web-site-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin: -0px;
}

.scope-title {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 5px;
    margin: 0;
}
 
        /*========== AND MAIN==========*/

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.2) rotate(360deg);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition:  500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);;
    width: 528px;
    height: 580px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.close-btm {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    
}

.close-btm-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btm:hover .close-btm-icon,
.close-btm:focus .close-btm-icon {
    fill: #2196f3;
}

