.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.2) rotate(360deg);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition:  500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    width: 528px;
    height: 580px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px 40px;
}

.close-btm {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    outline: none;
    cursor: pointer; 
}

.close-btm-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btm:hover .close-btm-icon,
.close-btm:focus .close-btm-icon {
    fill: #2196f3;
}


.form-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0;
    padding-bottom: 12px;
    color: #212121;
}

.form-icons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icons-left {
    margin-left: 12px;
}

.modal-textarea-bottom {
    margin-bottom: 32px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color 250ms linear;  
}    

.modal-form-message {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;
    transition: border-color 250ms linear;
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}

.modal-form-message::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.modal-input:focus,
.modal-form-message:focus {
    border-color:#2196f3;
    outline: none;
}

.modal-input:focus + .form-icons {
    fill:#2196f3
}

.agreement-modal {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 30px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    max-width: 570px;
    margin: 0 auto;
}
  
.form-field-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
 
.modal-form {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
}

.agreement-link {
    color: #2196f3;
    text-decoration: underline;
}

.modal-form-term:checked + .modal-stroke::before {
    background-image: url(../images/icom-all/icon-check.svg);
    background-position: center;
    border: 2px solid #2196f3;
      background-repeat: no-repeat;
      border-color: #2196f3;
      background-position: center;
    background-color: #2196f3;
}

.modal-form-term:focus + .modal-stroke::before {
    box-shadow: 0 0 0 2px #2196f3;
}

.modal-stroke {
    display: flex;
    font-size: 14px;
    align-items: center;
}

.modal-stroke::before {
    display: flex;
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    cursor: pointer;
    margin-right: 8px;
}