.our-team{
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.staff {
    padding: 30px 32px;
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
}

.staff-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 10px;
}

.position-staff {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    font-weight: 400;
    margin-bottom: 16px;
}