.portfolio {
    padding-bottom: 94px;
}

.portfolio-one {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: -30px;
}

.portfolio-item {
    flex-basis: calc(100%/3 - 30px);
    max-width: 370px;
    margin-right: 30px;
    margin-top: 30px;
} 

.project-item-image {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item-image:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
} 

.project-item-image:hover .overlay,
.project-item-image:focus .overlay {
    transform:translateY(0)
}

.team-list-content-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    margin: 0;
    top: 0;
    left: 0;
    transform: translateY(100%);
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #fff;
    background-color: rgba(33, 150, 243, 0.9);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);   
    }

.project-item-image:hover, 
.project-item-image:focus {
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 
    0px 1px 1px rgb(0 0 0 / 14%), 
    0px 2px 1px rgb(0 0 0 / 20%);
}

.portfolio-item:nth-child(3n) {
    margin-right: 0;
}

.portfolio-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.web-site {
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    border-top: none;
    padding: 20px 24px;
}

.web-site-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin: -0px;
}

.scope-title {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 5px;
    margin: 0;
}