.social-list {
    display: flex;
    align-items: center;
    margin-top: 16px;
    justify-content: space-between;
}

.social-list-item:not(:last-child) {
    margin-right: 10px;
}

&:hover,
&:focus {
    background-color:  #2196F3;
}

.footer-social-icon {
    fill: #ffffff;
    width: 20px;
    height: 20px;
}

&:hover .social-list-icon,
&:focus .social-list-icon {
    fill: #ffffff;
}