.modal-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background-color:#F5F4FA ;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #fff;
    padding: 6px 22px;
    background: #f5f4fa;
    justify-content: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&:hover,
&:focus{
    background-color: #2196F3;
    color: #fff;; 
}