.we-doing {
    padding-top: 47px;
    padding-bottom: 94px;
}        

.main-two {
    min-width: 700px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 0px;
    margin-bottom: 50px;
}

.main-two-list {
    box-sizing: border-box;
    
}

.about-list {
    display: flex;
    justify-content: space-between;
}

.about-list-two {
    flex-basis: calc(100%/3 - 30px);
    position: relative;
}

.about-list-two:not(:last-child) {
    margin-right: 30px;
}

.item-description {
    display: flex;
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
    font-size: 14px;
    font-weight:700;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    background-color: rgba(47, 48, 58, 0.8);
}

.about-list-three {
    flex-basis: calc(100%/4 - 30px);
    width: 270px;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%),
                0px 1px 1px rgb(0 0 0 / 14%),
                0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;
}

.about-list-three:not(:last-child) {
    margin-right: 30px;
}

.social-icon {
    color:  #afb1b8;
    fill: currentColor;
}