:root {
    --main-font:'Roboto',sans-serif;
    --secondary-font:'Raleway', sans-serif;
    --accebt-color: #2196F3;
    --accebt-color1: #fff;
    --write-text-color: #fff;
    --color-address:rgba(255, 255, 255, 0.6);
    --color-email-link:#757575;
    --color-tel-link:#757575;
    --color-portfol: #fff ;
}